@charset "UTF-8"; 
 
.modal64 {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url(/static/images/ajax-loader_64.gif)
		50% 50% no-repeat;
}

span.INFO_Message {
	margin: 0px 0px 10px 0px;
}

span.WARNING_Message {
	margin: 0px 0px 10px 0px;
}

span.ERROR_Message {
	margin: 0px 0px 10px 0px;
}

progress:not([value]) {
   /* Styling here */
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 100%;
  height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

#searchWindow { 
	display: none;
}

.srchEngnWindow {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1em;
	border-width: 1px;
}

.srchEngnLabelInput {
	display: inline;
	height: auto;
	width: auto;
	padding-right: 25px;
	float: none;
}

.srchEngnRadio {
	padding-right: 25px;
}

.srchEngnSelect {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 1em;
	height: 100%;
	width: 400px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

input:-moz-read-only { /* For Firefox */
  background-color: #f4f4f4;
}

input:read-only {
  background-color: #f4f4f4;
}

textarea:-moz-read-only { /* For Firefox */
  background-color: #f4f4f4;
}

textarea:read-only {
  background-color: #f4f4f4;
}

td.aprvd_chng {
    font-weight: bold;
    color:#003300;
	background-color:#ccffb3;
}

td.rjctd_chng {
    text-decoration: line-through;
}

td.crnt_rcrd {
	color:#003300;
	background-color:#ccffb3 !important;
}

td.pndg_rcrd {
	color:#660000;
	background-color:#ffb3b3 !important;
}
